.colors-palette {
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    min-height: 500px;
    &__gained {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: auto;
        margin-top: 30px;
        border-radius: 50%;
    }
    &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
        border-radius: 5px;
        border: 1px solid black;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
    }
    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__option-view {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
    }
    &__option-code {
        font-size: 12px;
    }
}